@font-face {
    font-family: "Upheaval";
    src: url("UpheavalPro.otf");
}

body {
    background: url(imagenes/otros/background.png) center top repeat-y #000000;
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    backface-visibility: hidden;
}

h1 {
    font-family: "Upheaval";
    font-size: 32px;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

p {
    font-size: 16px;
    word-wrap: break-word
}

a {
    color: cyan;
    text-decoration: none;
}

.container {
    background-color: #000000;
    width: 720px;
    margin: auto;
    border-radius: 30px;
    border-style: solid;
    border-color: cyan;
    border-inline: 1px;
    padding: 16px;
}

.header {
    padding: 5px;
    width: 60%;
    margin: auto;
    border-radius: 100px;
    border-style: outset;
    border-color: darkorange;
    text-align: center;
    background: cyan;
    color: white;
    font-size: 20px;
}

#logo {
    height: 204px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url(imagenes/logos/Logo.gif);
    background-repeat: no-repeat;
    background-position-x: center;
}

#subtitle {
    font-family: "Upheaval";
    font-size: 24px;
    height: 61px;
    text-align: center;
}

#main-header {
    background: cyan;
    color: white;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.btn-botonera {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    height: 70px;
}

.boton {
    box-sizing: border-box;
    background-color: #00aeae;
    border: 3px solid cyan;
    height: 40px;
    line-height: 34px;
    color: white;
    cursor: pointer;
    float: left;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}

.boton:hover {
    background-color: #005e5e;
}

.boton:after {
    content: "";
    clear: both;
    display: table;
}

.btn-botoneraLinks {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
    width: 600px;
    height: 70px;
}

.botonLinks {
    box-sizing: border-box;
    background-color: #0088e2;
    border: 3px solid blue;
    height: 60px;
    line-height: 54px;
    color: white;
    cursor: pointer;
    float: left;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}

.botonLinks:hover {
    background-color: #0068ad;
}

.botonLinks:after {
    content: "";
    clear: both;
    display: table;
}

footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 4px;
    border-radius: 30px;
    border-top: 3px solid cyan;
    width: 750px;
    color: white;
}
