body {
    background: url(background.png) center top repeat-y #000000;
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Upheaval";
    font-size: 32px;
}

@font-face {
    font-family: "Upheaval";
    src: url("UpheavalPro.otf");
}

.Title1 {
    font-family: "Upheaval";
    font-size: 28px;
}

.Title2 {
    font-family: "Upheaval";
    font-size: 24px;
}

.container {
    background-color: #000000;
    width: 720px;
    margin: auto;
    border-radius: 30px;
    border-style: solid;
    border-color: cyan;
    border-inline: 1px;
    padding: 16px;
}

.header {
    padding: 5px;
    width: 60%;
    margin: auto;
    border-radius: 100px;
    border-style: outset;
    border-color: darkorange;
    text-align: center;
    background: cyan;
    color: white;
    font-size: 20px;
}

#logo {
    height: 265px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#main-header {
    background: cyan;
    color: white;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.btn-botonera {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    height: 70px;
}

.boton {
    box-sizing: border-box;
    background-color: #00aeae;
    border: 3px solid cyan;
    height: 40px;
    line-height: 34px;
    color: white;
    cursor: pointer;
    float: left;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}

.boton:hover {
    background-color: #005e5e;
}

.boton:after {
    content: "";
    clear: both;
    display: table;
}

footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 4px;
    border-radius: 30px;
    border-top: 3px solid cyan;
    width: 750px;
    color: white;
}
